html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 0.5rem;
  color: gold;
  background: #2a3846;
  border: 1px solid gold;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  transition: background 0.5s;
}
.button:hover {
  background: #465d72;
}
